/* Rony G. Flatscher, 2002, 2022

   purpose: formatting information for the "oleinfo*" set of Object Rexx programs
            and HTML-files which embed Object Rexx code
*/

@media screen {

     H1      { color: blue;
             }

     body    { background-color:  lightgoldenrodyellow        /* #ffffdd */ ;
               font-family: Times, Avantgarde;
               font-family: Arial,sans-serif;
               font-size: 14pt;
               }

     div.alert {
                  background-color: black;
                  color:            white;
                  text-align: center;
                  padding: 5 5 5 5;
               }


     .choose { color: brown;
                 font-weight: bold;
             }

     A.choose {
                 text-decoration: none;
             }

     .choose:hover  {
                 font-size: 150%;
                 font-weight: bolder;
                 text-decoration: none;
             }

     .hint_not_found {
                 font-weight: bold;
                 color: red;
             }

     .hint   {
                 font-size: 75%;
             }

      table.hint {
                 color: blue;
                 }


      col.th_hint {  color: orange;
                 text-align: right;
               }

      col.td_hint {
                 color: black;
               }

}


@media screen, print {

     H1      { color: blue;
               text-align: center;
               font-family: Arial,sans-serif;
               font-size: 200%;
             }

     table.all_CLSIDs {
                font-size: 75%;
             }

     .doc    { color: blue;
               font-style: italic;
             }

     .name   {
               color:  red    /* red */ ;
               font-weight: bold;
               }

     .hilite { background-color: yellow; }

     .optional { font-style: italic;
                 font-size: 90%;
               }

     .inout  {   vertical-align: sub;
                 font-size: smaller;
             }


     .info   { font-style: italic;
               font-weight: bold;
               font-variant: small-caps;
               font-size: 80%;
               text-align: right;
             }


     .type   { font-variant: small-caps;
               font-family: Arial,sans-serif;
               font-size: 75%;
               font-style: italic;
               font-weight: bold;
               color: green;
             }

     .number { text-align: right;
               font-style: italic;
             }


     tr.odd  {
               background-color: rgb(235, 235, 235) ;   /* also in hex possible, e.g. #f1f1f1 */
             }

     td.indent {
                text-indent: 1cm;
             }

     .bottom_info   { font-variant: small-caps;
               font-family: Arial,sans-serif;
               font-size: 65%;
               font-style: italic;
               text-align: center;
               font-weight: bold;
             }


}


@media print {
     BODY {
            font-size:   12pt;
          }

     TABLE {
             padding: 1px;
             font-size: 10pt;
           }

     tr.return { color: green; border: 1px solid black; }
}


@media all {

/*  BODY { line-height: 1.2;} */
}


