% WARNING!!!!!!!!!!
%
% The standard /usr/share/texmf/web2c/texmf.cnf file contains settings
% that are too small to process the rexxref documentation. You should
% replace the entries shown in this file in your local copy of texmf.conf.
% This file shows the original values from texmf.conf along with the
% suggested updates.
%


% hash_extra = 50000
hash_extra = 150000

% string_vacancies = 90000
string_vacancies = 150000

% max_strings = 100000
max_strings = 300000

% nest_size = 500
nest_size = 1500

% save_size = 5000
save_size = 15000

% stack_size = 1500
stack_size = 2500

% save_size.pdfxmltex = 15000
save_size.pdfxmltex = 50000

% save_size.xmltex = 15000
save_size.xmltex = 30000

% stack_size.pdfxmltex = 3000
stack_size.pdfxmltex = 5000

% stack_size.xmltex = 3000
stack_size.xmltex = 5000

% obj_tab_size = 300000
obj_tab_size = 500000

% dest_names_size = 300000
dest_names_size = 500000

