*.dll
*.exe
*.exp
*.img
*.lib
*.la
*.lo
*.o
*.obj
*.pdb
*.res
*.so*
.*~
*~
.#*
.DS_Store
executor5-bulk.bbprojectd
incubator/DocMusings-executor
incubator/ooRexxShell-executor
incubator/scripts
sandbox/jlf-executor
