/* Stylesheet for the ooRexx Wiki */
/* Color scheme:
     Yellow         #FEEF00
     Red            #FF0101
     Light Red      #FFE0E0
     Very Light Red #FFE8E8
*/

/* style for the wiki top banner */
.wiki_banner
{
}

/* style for the wiki left menus */
.wiki_left_menus
{
}

/* styles for a wiki left menu list */
.wiki_menu_header
{
   border-color: black;
   border-style: solid;
   border-width: thin;
   color: black;
   font-weight: bold;
   font-size: larger;
   background-color: #FEEF00;
   padding-left: 1em;
   vertical-align: middle;
}
.wiki_menu_subheader
{
   border-color: black;
   border-style: solid;
   border-width: thin;
   color: black;
   font-weight: bold;
   background-color: #FEEF00;
   padding-left: 1em;
   vertical-align: middle;
}

td.wiki_menu_content
{
   border-color: black;
   border-style: solid;
   border-width: thin;
   color: black;
   background-color: #FFE8E8;
   padding-left: 1em;
   vertical-align: middle;
}

td.wiki_menu_content:hover
{
   cursor: pointer;
   color: black;
   background-color: #FFE0E0;
   text-decoration: underline;
}

/* styles for the wiki content */
.wiki_content
{
   border-color: black;
   border-style: solid;
   border-width: thin;
   padding: 1em;
   background-color: #FFE8E8;
   vertical-align: top;
}

p.wiki_content_lastedited
{
   color: gray;
}

.wiki_content_error
{
   border-color: black;
   border-style: solid;
   border-width: thin;
   padding: 1em;
   background-color: #FFE8E8;
   color: red;
   vertical-align: middle;
   text-align: center;
}

/* style for the wiki bottom footer */
.wiki_footer
{
   font-size: small;
}

