
<section><title>System Configuration</title>
<orderedlist>
    <xi:include href="CFGGRUBPWD.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGUSERATTRIB.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGNODEV.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGRMMEDIA.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGDHCP.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGUSB.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGQUOTAEXIST.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGDUMP.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGEXECSHIELD.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGXDNX.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGCONSOLE.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGINTERACTIVEBOOT.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGBASHTIMEOUT.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGTCSHTIMEOUT.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGGNOMETIMEOUT.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGETCSKELDOT.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGVLOCK.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGAIDE.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGSELINUX.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGKERNELNETCONF.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGWIRELESS.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGIPV6.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <listitem>
        <indexterm><primary>TCP Wrapper</primary></indexterm>
        <indexterm><primary>/etc/hosts.allow</primary></indexterm>
        <indexterm><primary>/etc/hosts.deny</primary></indexterm>
        <para>TCP Wrapper is a basic access control mechanism which uses the files
        <computeroutput>/etc/hosts.allow</computeroutput> and
        <computeroutput>/etc/hosts.deny</computeroutput> to allow or deny network
        connections to network daemons.
        </para>
        <orderedlist>
            <listitem>
                <para>The following lines are from the file
                <computeroutput>/etc/hosts.allow</computeroutput>.
                </para>
                <xi:include href="CFGHOSTSALLOW.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
            </listitem>
            <listitem>
                <para>The following lines are from the file
                <computeroutput>/etc/hosts.deny</computeroutput>.
                </para>
                <xi:include href="CFGHOSTSDENY.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
            </listitem>
        </orderedlist>
        <para>All of the lines above should be checked to ensure they meet your local
        security policy.
        </para>
    </listitem>
    <xi:include href="CFGLOGMSGFILE.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGLOGSECFILE.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGLOGMAILFILE.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGLOGMSGROTATE.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGLOGSECROTATE.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGLOGMAILROTATE.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGWORLDWRITE.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGSUIDSGID.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGGLOBALUMASK.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGROOTUMASK.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGUSERNETRC.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGHOSTS.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGSINGLEUSER.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="CFGMOTD.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
</orderedlist>
</section>

