<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY % BOOK_ENTITIES SYSTEM "rexxgtk.ent">
%BOOK_ENTITIES;
]>
<!--#########################################################################
    #
    # Description: Open Object Rexx: RexxGTK Class Library XML File
    #
    # Copyright (c) 2005-2022, Rexx Language Association. All rights reserved.
    # Portions Copyright (c) 2004, IBM Corporation. All rights reserved.
    #
    # This program and the accompanying materials are made available under
    # the terms of the Common Public License v1.0 which accompanies this
    # distribution. A copy is also available at the following address:
    # http://www.oorexx.org/license.html
    #
    # Redistribution and use in source and binary forms, with or
    # without modification, are permitted provided that the following
    # conditions are met:
    #
    # Redistributions of source code must retain the above copyright
    # notice, this list of conditions and the following disclaimer.
    # Redistributions in binary form must reproduce the above copyright
    # notice, this list of conditions and the following disclaimer in
    # the documentation and/or other materials provided with the distribution.
    #
    # Neither the name of Rexx Language Association nor the names
    # of its contributors may be used to endorse or promote products
    # derived from this software without specific prior written permission.
    #
    # THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
    # "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
    # LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
    # FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
    # OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
    # SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
    # TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
    # OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
    # OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
    # NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    # SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    #
    #########################################################################
-->
<chapter><title>Event Classes</title>
<indexterm><primary>Classes</primary>
<secondary>Event</secondary></indexterm>

<para>The following are the event classes. These are created when an event occurs
and are passed to the appropriate ooRexx signal method.</para>

<section id="gdkevent">
<title>GdkEvent</title>
<indexterm><primary>GdkEvent</primary></indexterm>
<para>This is the base class for all event classes.</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>type</member>
</simplelist>
</section>

<section id="gdkeventany">
<title>GdkEventAny</title>
<indexterm><primary>GdkEventAny</primary></indexterm>
<para>This is a subclass of the GdkEvent (<xref linkend="gdkevent" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>window</member>
<member>send_event</member>
</simplelist>
</section>

<section id="gdkeventkey">
<title>GdkEventKey</title>
<indexterm><primary>GdkEventKey</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>time</member>
<member>state</member>
<member>keyval</member>
<member>length</member>
<member>string</member>
<member>hardware_keycode</member>
<member>group</member>
<member>is_modifier</member>
</simplelist>
</section>

<section id="gdkeventbutton">
<title>GdkEventButton</title>
<indexterm><primary>GdkEventButton</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>time</member>
<member>x</member>
<member>y</member>
<member>axes</member>
<member>state</member>
<member>button</member>
<member>device</member>
<member>x_root</member>
<member>y_root</member>
</simplelist>
</section>

<section id="gdkeventscroll">
<title>GdkEventScroll</title>
<indexterm><primary>GdkEventScroll</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>time</member>
<member>x</member>
<member>y</member>
<member>state</member>
<member>direction</member>
<member>device</member>
<member>x_root</member>
<member>y_root</member>
</simplelist>
</section>

<section id="gdkeventmotion">
<title>GdkEventMotion</title>
<indexterm><primary>GdkEventMotion</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>time</member>
<member>x</member>
<member>y</member>
<member>axes</member>
<member>state</member>
<member>is_hint</member>
<member>device</member>
<member>x_root</member>
<member>y_root</member>
</simplelist>
</section>

<section id="gdkeventexpose">
<title>GdkEventExpose</title>
<indexterm><primary>GdkEventExpose</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>area</member>
<member>region</member>
<member>count</member>
</simplelist>
</section>

<section id="gdkeventvisibility">
<title>GdkEventVisibility</title>
<indexterm><primary>GdkEventVisibility</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>state</member>
</simplelist>
</section>

<section id="gdkeventcrossing">
<title>GdkEventCrossing</title>
<indexterm><primary>GdkEventCrossing</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>subwindow</member>
<member>time</member>
<member>x</member>
<member>y</member>
<member>x_root</member>
<member>y_root</member>
<member>mode</member>
<member>detail</member>
<member>focus</member>
<member>state</member>
</simplelist>
</section>

<section id="gdkeventfocus">
<title>GdkEventFocus</title>
<indexterm><primary>GdkEventFocus</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>in</member>
</simplelist>
</section>

<section id="gdkeventconfigure">
<title>GdkEventConfigure</title>
<indexterm><primary>GdkEventConfigure</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>x</member>
<member>y</member>
<member>width</member>
<member>height</member>
</simplelist>
</section>

<section id="gdkeventproperty">
<title>GdkEventProperty</title>
<indexterm><primary>GdkEventProperty</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>atom</member>
<member>time</member>
<member>state</member>
</simplelist>
</section>

<section id="gdkeventselection">
<title>GdkEventSelection</title>
<indexterm><primary>GdkEventSelection</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>selection</member>
<member>target</member>
<member>property</member>
<member>time</member>
<member>requestor</member>
</simplelist>
</section>

<section id="gdkeventdnd">
<title>GdkEventDND</title>
<indexterm><primary>GdkEventDND</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>context</member>
<member>time</member>
<member>property</member>
<member>x_root</member>
<member>y_root</member>
</simplelist>
</section>

<section id="gdkeventproximity">
<title>GdkEventProximity</title>
<indexterm><primary>GdkEventProximity</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>time</member>
<member>device</member>
</simplelist>
</section>

<section id="gdkeventclient">
<title>GdkEventClient</title>
<indexterm><primary>GdkEventClient</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>message_type</member>
<member>data_format</member>
<member>data</member>
</simplelist>
</section>

<section id="gdkeventwindowstate">
<title>GdkEventWindowState</title>
<indexterm><primary>GdkEventWindowState</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>changed_mask</member>
<member>new_window_state</member>
</simplelist>
</section>

<section id="gdkeventsetting">
<title>GdkEventSetting</title>
<indexterm><primary>GdkEventSetting</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>action</member>
<member>name</member>
</simplelist>
</section>

<section id="gdkeventownerchange">
<title>GdkEventOwnerChange</title>
<indexterm><primary>GdkEventOwnerChange</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>owner</member>
<member>reason</member>
<member>selection</member>
<member>time</member>
<member>selection_time</member>
</simplelist>
</section>

<section id="gdkeventgrabbroken">
<title>GdkEventGrabBroken</title>
<indexterm><primary>GdkEventGrabBroken</primary></indexterm>
<para>This is a subclass of the GdkEventAny (<xref linkend="gdkeventany" />).</para>
<para><emphasis role="bold">Read/Write Attributes</emphasis></para>
<simplelist type="vert" columns="1">
<member>keyboard</member>
<member>implicit</member>
<member>grab_window</member>
</simplelist>
</section>

</chapter>

