/* adds/changes to common.css */

.italic { /* added missing rule for the italic class */
   font-style: italic;
}

.methodname { /* added missing rule for the methodname class */
    font-weight: normal;
}

body { /* override the font size of 12px to enlarge it */
    font-size: 0.9em;
}
