#!/usr/bin/make -f
#/*----------------------------------------------------------------------------*/
#/*                                                                            */
#/* Copyright (c) 2007 Rexx Language Association. All rights reserved.         */
#/*                                                                            */
#/* This program and the accompanying materials are made available under       */
#/* the terms of the Common Public License v1.0 which accompanies this         */
#/* distribution. A copy is also available at the following address:           */
#/* http://www.oorexx.org/license.html                                         */
#/*                                                                            */
#/* Redistribution and use in source and binary forms, with or                 */
#/* without modification, are permitted provided that the following            */
#/* conditions are met:                                                        */
#/*                                                                            */
#/* Redistributions of source code must retain the above copyright             */
#/* notice, this list of conditions and the following disclaimer.              */
#/* Redistributions in binary form must reproduce the above copyright          */
#/* notice, this list of conditions and the following disclaimer in            */
#/* the documentation and/or other materials provided with the distribution.   */
#/*                                                                            */
#/* Neither the name of Rexx Language Association nor the names                */
#/* of its contributors may be used to endorse or promote products             */
#/* derived from this software without specific prior written permission.      */
#/*                                                                            */
#/* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS        */
#/* "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT          */
#/* LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS          */
#/* FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT   */
#/* OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,      */
#/* SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED   */
#/* TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,        */
#/* OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY     */
#/* OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING    */
#/* NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS         */
#/* SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.               */
#/*                                                                            */
#/*----------------------------------------------------------------------------*/

# Uncomment this to turn on verbose mode.
 export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
CFLAGS = -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif

deboorexx = $(CURDIR)/debian/oorexx
#deboorexxdbg = $(deboorexx)-dbg
deboorexxlib = $(CURDIR)/debian/librexx3
deboorexxlibdev = $(deboorexxlib)-dev
build: build-stamp
build-stamp:
	dh_testdir
	libtoolize --copy --force --automake
	aclocal
	autoheader -Wall
	automake --add-missing --copy -Werror
	#--foreign
	autoconf -Wall
	./configure --prefix=/usr --config-cache
# Add here commands to compile the package.
	$(MAKE) -s
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

# oorexx package
# install rexx, rexxc, rxqueue, rxsubcom, rxdelipc
	$(MAKE) install-binPROGRAMS DESTDIR=$(deboorexx)
# install rexx.img, rexx.cat, oorexx-config, rx*.cls, samples, readme
	$(MAKE) install-exec-local DESTDIR=$(deboorexx)
# This doesn't work: all files under /usr/bin are executable, no matter what we do here...
# rexx.img needs to be moved somewhere else, e.g /usr/lib/ooRexx
#	find $(deboorexx)/usr/bin -perm /111 -exec chrpath -d '{}' \;
# install man pages
	$(MAKE) install-man DESTDIR=$(deboorexx)
# install private libraries
	$(MAKE) install-pkglibLTLIBRARIES DESTDIR=$(deboorexx)
	rm -f $(deboorexx)/usr/lib/ooRexx/librexx.* $(deboorexx)/usr/lib/ooRexx/*.la
# move rexx.cat to correct location
	install -d $(deboorexx)/usr/share/locale/C/
	mv $(deboorexx)/usr/bin/rexx.cat $(deboorexx)/usr/share/locale/C/

# librexx package - this only includes librexx
	$(MAKE) install-pkglibLTLIBRARIES DESTDIR=$(deboorexxlib)
# remove all a and so files, they're not needed
	rm -f $(deboorexxlib)/usr/lib/ooRexx/*.a $(deboorexxlib)/usr/lib/ooRexx/*.so $(deboorexxlib)/usr/lib/*.la
# move librexx to shared directory
	mv $(deboorexxlib)/usr/lib/ooRexx/librexx.* $(deboorexxlib)/usr/lib
# remove private lib directory
	rm -r $(deboorexxlib)/usr/lib/ooRexx/

# librexx-dev package for librexx
# install all libraries
	$(MAKE) install-pkglibLTLIBRARIES DESTDIR=$(deboorexxlibdev)
# install header file
	$(MAKE) install-includeHEADERS DESTDIR=$(deboorexxlibdev)
# move the wanted library to shared location
	mv $(deboorexxlibdev)/usr/lib/ooRexx/librexx.* $(deboorexxlibdev)/usr/lib
# delete all other libraries
	rm -rf $(deboorexxlibdev)/usr/lib/ooRexx/
# delete unused files - they are part of librexx
	rm -f $$(find $(deboorexxlibdev)/usr/lib/ -regex '.*\.\(la\|so\..*\)$$')

	
# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#      dh_installdebconf
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
#      dh_installlogrotate
#      dh_installemacsen
#      dh_installpam
#      dh_installmime
#      dh_installinit
#	dh_installcron
	dh_installman
#	dh_installinfo
#      dh_undocumented
	dh_installchangelogs CHANGES
	dh_link
	dh_strip --dbg-package=oorexx-dbg
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
#      dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
