Package: oorexx-build-dep
Version: 1.0-1
Section: interpreters
Priority: optional
Architecture: all
Maintainer: Moritz Hoffmann <moritz@antiguru.de>
Depends: subversion, libc6, libgcc1, xalan, libtool (>=1.5), automake, g++
Description: Open Object Rexx Build Dependencies (ooRexx-build-dep)
 This is a dummy package to install the software ooRexx requires
 for building. It depends on several other packages, but offers no functionality
 itself.
 Get the source from http://sourceforge.net/projects/oorexx or
 https://oorexx.svn.sourceforge.net/svnroot/oorexx/build-util/platform/linux/debian/oorexx-build-dep (SVN).
